.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #ffffff;
  font-family: "Roboto-Black", sans-serif;
  font-size: 2.2rem; /* responsive font size */
  font-weight: 700;  /* 'Black' implies bold */
  margin: 25px auto 0 auto;
  padding-right: 100px;
  text-align: center;
}


.row2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Ensures responsiveness */
  width: 100%; /* Makes it adjust with screen size */
}


.search {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../resources/Homepage/icon0.svg") no-repeat right 1rem center;
  background-color: #ece6f0;
  background-size: 24px 24px;
  border-radius: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  width: 90%;
  max-width: 468px;
  height: 58px;
  margin: 0 auto 25px;
  box-sizing: border-box;
}

.edit-parcel-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.edit-parcel-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-group {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%; /* Ensures consistency */
}

.old-owner:disabled {
  background-color: grey !important;
  color: black !important;
}

input,
select {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  width: 100%; /* Forces uniform width across all inputs and selects */
  box-sizing: border-box; /* Ensures padding doesn’t affect width */
}

.form-group select {
  appearance: none; /* Removes default dropdown styling */
  background-color: #f9f9f9;
}

@media screen and (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr; /* Ensures single column on smaller screens */
  }
}

.btn {
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}

.confirm {
  background: #495bbf;
  color: #000;
}

.delete {
  background: #495bbf;
  color: #000;
}

@media screen and (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}