input[type="text"] {
  font-size: 18px; /* or any size you want */
}
.search {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../resources/Homepage/icon0.svg") no-repeat 96% center;
  background-color: #ece6f0;
  border-radius: 94px;
  flex-direction: row;
  gap: 4px;
  text-align: center;
  width: 600px;
  height: 50px;
  max-width: 720px;
  margin: 0px;
  margin-top: 15px;
  margin-left: 60%;
}

.content {
  justify-self: center;
  width: 60vw;
}

.section-title {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  width: 258px;
}
.section-box {
  background-color: #ffffff;
  border-radius: 10px;
  width: 60vw;
}

.owner {
  margin: 10px;
  color: #353535;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  width: 363.59px;
  height: 23.79px;
}
.details {
    margin: 0px;
    padding: 5px 0px;
  color: #434242;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 150px;
  height: 19.03px;
}
.ans {
  width: fit-content;
}
.dash {
  margin: auto 5px;
  background: #353535;
  border-radius: 50%;
  width: 6.49px;
  height: 3.17px;
}
