body {
  background-color: blue;
  background-image: url(https://github.com/MirulHakim/ParcelCalc/blob/main/resources/logo_k14.jpg);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
}

.container {
background-color: whitesmoke;
border: solid 1px black;
color: black;
padding: 10px 5px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  min-width: 250px;
}

.row {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap; /* Optional: wrap to new line on small screens */
}

input[type="date"] {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
  }